/* VARIABLES */

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

:root {
  --primary-color: #c59d5f;
  --button-background-color: #6B4D29;
  --secondary-color: #131313;
  --primary-font-color: #faf7f2;
  --main-background-color: #faf7f2;
  --oswald-font-family: "Oswald";
  --raleway-font-family: "Raleway";
}

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

a:hover {
  filter: opacity(0.8);
}

#wrapper {
  background-color: var(--main-background-color);
  font-family: var(--oswald-font-family);
}

/* HEADER */

.header {
  position: fixed;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
}

.header_logo {
  height: fit-content;

  padding: 25px;
}

.header_main_links,
.header_social_links {
  padding: 25px;
}

.header_main_links ul,
.header_social_links ul {
  display: flex;
  gap: 20px;
}

.header_main_links li,
.header_social_links li {
  list-style-type: none;
}

/* FIRST SECTION */

.section1 {
  position: relative;

  overflow: hidden;

  height: 100vh;
}

.section1_foreground_image {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECOND SECTION */

.section2 {
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
}

.section2_paragraph {
  text-align: center;
  width: 60%;
  color: var(--primary-font-color);
  font-size: xx-large;
}

/* THIRD SECTION */

.section3_text,
.section3_images {
  width: 50%;
}

.section3_top_container {
  display: flex;
}

.section3_images {
  position: relative;

  overflow: hidden;
}

.section3_background_image,
.section3_background_image img {
  height: 100%;
}

.section3_foreground_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section3_bottom_container {
  display: flex;
  flex-direction: row-reverse;
}

.section3_title {
  font-size: xx-large;
  font-weight: 500;
}

.section3_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem;
}

.section3_subtext {
  line-height: 1.5rem;

  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.section3_paragraph {
  padding-top: 2rem;
  padding-bottom: 2rem;

  line-height: 1.5rem;

  text-align: center;

  font-family: var(--raleway-font-family);
}

.section3_button {
  padding: 1rem 3rem;

  color: var(--primary-font-color);
  background-color: var(--button-background-color);

  border: none;
  border-radius: 8px;

  transition: 0.4s;
}

.section3_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* FOURTH SECTION */

.section4 {
  display: flex;
}

.section4_images {
  position: relative;

  overflow: hidden;

  width: 25%;

  aspect-ratio: 1/1;
}

.section4_images img {
  transition: 0.4s ease-in-out;
}

.section4_images:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.section4_background_image,
.section4_background_image img {
  height: 100%;
}

.section4_foreground_element i {
  color: var(--primary-font-color);
  font-size: 5rem;
}

.section4_foreground_element {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(197, 157, 95, 0.7);
  opacity: 0;
}

.section4_foreground_element:hover i {
  transform: rotate(90deg);
  transition: 0.4s ease-in-out;
}

.section4_foreground_element:hover {
  opacity: 1;
}

/* FIFTH SECTION */

.section5 {
  display: flex;
  justify-content: center;

  padding: 4rem 7rem;
}

.section5_elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.section5_paragraph {
  text-align: center;
}

.section5_image_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.4s;
}

.section5_image_title:hover {
  color: var(--primary-color);
}

.section5_image {
  width: max-content;
  aspect-ratio: 1/1;

  background-color: rgba(197, 157, 95, 0.7);
}

/* SIXTH SECTION */

.section6_image_text {
  position: relative;
  background-image: url(/img/h5-parallax-img-2.jpg);
  height: 40vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
}

.section6_text {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: var(--primary-font-color);

  line-height: 2.5rem;
}

.section6_title {
  font-size: xx-large;
  font-weight: 400;
}

.section6_subtext {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

/* SEVENTH SECTION */

.section7_filler {
  height: 5rem;
  width: 100%;
  background-color: var(--secondary-color);
}

.section7_embed_map_container {
  position: relative;

  width: 100%;
  height: 600px;
}

.section7_embed_map_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section7_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg,
      rgba(19, 19, 19, 1) 10%,
      rgba(19, 19, 19, 0) 50%,
      rgba(19, 19, 19, 1) 90%);
  pointer-events: none;
}

.section7_embed_map_container iframe {
  width: 100%;
  height: 600px;
  border: 0;
  overflow: hidden;
  margin: 0;
}

/* FOOTER */

.footer {
  background-color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  padding: 4rem;
}